# Copiar a .env y completar antes de levantar el stack
# Generar secretos con: openssl rand -hex 32

CLAPER_DB_PASSWORD=cambia_esto
CLAPER_HOST=polls.tudominio.com
CLAPER_SECRET_KEY_BASE=cambia_esto_por_un_secreto_largo

HEDGEDOC_DB_PASSWORD=cambia_esto
HEDGEDOC_HOST=notas.tudominio.com
